.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .todo-collection-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px 15px 100px;

    h1,
    h3 {
      color: white;
    }

    .todo-collection-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #1371dd2d;
      padding-bottom: 10px;
      h2 {
        font-weight: 700;
      }
      .button-wrapper {
        display: flex;
        gap: 20px;
        button {
          border-color: var(--app-purple);
          background-color: var(--app-purple);
          display: flex;
          align-items: center;
          gap: 7px;
          &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      }
    }

    .filter-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-block: 10px;
      border-bottom: 1px solid #1371dd2d;
      overflow: auto;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 30px;
        background-color: #1371dd1a;
        color: var(--app-purple);
        font-size: 15px;
        font-weight: 500;
        border-radius: 7px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &.active {
          color: white;
          background-color: var(--app-purple);
          box-shadow: 0px 1px 5px 2px rgba(10, 126, 58, 0.1);
        }

        @media (max-width: 577px) {
          padding: 7px 20px;
          font-size: 13px;
        }
      }
    }

    .todo-collection {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px 20px;
      padding: 20px 0;

      .todo-card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #1371dd2d;
        box-shadow: 0px 1px 5px 2px #1371dd13;
        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
          border-radius: 12px;
          cursor: pointer;
          margin-bottom: 10px;
        }

        p {
          &.title {
            font-size: 20px;
            font-weight: 600;
          }
          &.desc {
            margin-top: 10px;
            font-weight: 400;
            color: var(--secondary-text-color);
          }
        }
        .date {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 10px;

          svg {
            height: 25px;
            width: 25px;
          }
          p {
            font-size: 15px;
            line-height: 17px;
            margin-top: 3px;
          }
        }
        .right-container {
          .tags-wrapper {
            display: flex;
            justify-content: end;
            margin-bottom: 30px;

            span {
              padding: 5px 15px;
              background-color: rgba(255, 115, 0, 0.158);
              color: rgba(255, 115, 0, 1);
              border-radius: 20px;
              font-size: 13px;
            }
          }
          .action-container {
            display: flex;
            gap: 10px;
            button {
              width: 100%;
              font-size: 15px;
              padding-inline: 30px;
              font-weight: 600;
              background-color: #1371dd1a;
              color: var(--app-purple);
              border-radius: 7px;
              box-shadow: none;
              transition: all 0.2s ease-in;

              &:hover {
                background-color: var(--app-purple);
                color: white;
                box-shadow: 0px 1px 5px 2px #1371dd28;
              }

              &.complete {
                background-color: #28a74628;
                color: #28a745;

                &:hover {
                  background-color: #28a745;
                  color: white;
                  box-shadow: 0px 1px 5px 2px rgba(10, 126, 58, 0.1);
                }
              }
            }
          }
        }
      }
    }
    .bordered-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 250px;
      width: 100%;
      border: 1px solid #1371dd2d;
      margin-top: 30px;
      border-radius: 15px;
      strong {
        font-size: 18px;
        color: #0a396e86;
      }
    }
  }
}

.modal-form {
  margin: 30px 0;
  .input-group {
    label {
      display: block;
      margin-bottom: 0.5em;
      color: var(--app-purple);
      font-size: 16px;
      font-weight: 500;
    }
    input {
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em;
      padding-left: 15px;
      border: 1px solid #1371dd6c;
      border-radius: 7px;
      font-size: 16px;
      line-height: 1.5;
      outline: none;
      background-color: transparent;
      color: var(--app-dark-color);
      transition: all 0.3s ease;
      font-family: var(--app-font);

      &:disabled {
        background-color: rgba(255, 255, 255, 0.116) !important;
        border-color: rgba(255, 255, 255, 0.288) !important;
      }

      &:focus {
        border-color: var(--app-purple);
        box-shadow: 0 0 3px 2px #646cff30;
      }

      &::placeholder {
        color: #888;
      }
    }
  }
  .select-container {
    label {
      display: block;
      margin-bottom: 0.5em;
      color: var(--app-purple);
      font-size: 16px;
      font-weight: 500;
    }
  }
  .button-container {
    margin-top: 40px;
    button {
      width: 100%;
    }
  }
}

// overrides styles of the react-select dropdown field

.css-13cymwt-control {
  border: 1px solid #1371dd6c !important;
  border-radius: 7px !important;
  min-height: 42px !important;
  box-shadow: none !important;
}
.css-t3ipsp-control {
  border: 1px solid #1371dd !important;
  border-radius: 7px !important;
  min-height: 42px !important;
  border-color: var(--app-purple);
  box-shadow: 0 0 3px 2px #646cff30;
}
